body {
    font: 20px Arial, sans-serif ;
}

.titulos {
    font: 70px "Times new roman";
    margin-bottom: 50px;
}

.navbar-brand > img {
    width: 100px;
    padding-left: 20px;
    padding-top: 10px;
}

.collapse .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar {
    background-color: #000000;
    color: white;
}

.margin {
    padding: 30px 0 30px 0;
}

.quem-somos {
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,0.80)100%), url('../img/casamentobackground.jpg');
    background-size: cover;
    color: white;
}

.descricaoempresa{  /* Texto descrevendo a empresa */
    text-align: justify;
}

.col-lg-6 > img {  /* Arrumando imagens da area "SERVIÇOS*/
    width: 100%;
    padding: 20px;
}

.servicos .row .col-lg-6 {  /* Distanciamento entre as fotos das festas */
    padding-bottom: 80px;
}

.link {
    text-decoration: none;
}

.link:hover {  /* Muda o link quando passa o mouse  */
    text-align: right;
    text-decoration: revert;
    color: red;
}

#parceiros, #quemsomos, #servicos {
    padding: 10px;
}

.parceiros { 
    background-color: rgb(0, 0, 0);
    color: white;
}

.col-lg-4 {
    padding: 10px
}

.footer {  /* Rodapé da página. */
    text-align: center;
    margin: 30px;
}